---
import Layout from "../layouts/Layout.astro"
import { setupCarousel } from '../scripts/banner_carousel.js';
import Tiktok from "../components/Tiktok.astro";   
import Youtube from "../components/Youtube.astro";
import Instagram from "../components/Instagram.astro";
import { string, undefined } from "astro:schema";
const { banner_img = [], banner_alt, header, description, download_link, after_download_content } = Astro.props;

---
<Layout title="Tofen">
    <main class="articles_layout">
        <div class="display">
            <section class="main_info">

                    <div id="banner_container" class="banner_info">
                        {
                            banner_img && banner_img.length > 0  && banner_img.map((src, index) => (
                            <img src={src} alt={`${banner_alt} ${index + 1}` }
                            data-index={index} 
                            class={index === 0 ? "active" : "inactive"}/>
                            ))
                        
                        } </div>
                    <h1 class="article_title">{header}</h1>
                    <p class="article description">{description} </p>
                    <div class="download_button_container"><a href={download_link}><button class="button_download"><span class="button-content">Download</span></button></a></div>
                    <p class="after_download_content">{after_download_content} </p>
                    


            </section>
    
            <section class="other_info">
                <slot name="social_tiktok" class="social_media_1"> <Tiktok /> </slot>
                <slot name="social_youtube" class="social_media_1"> <Youtube />   </slot>
                <slot name="social_instagram" class="social_media_1"> <Instagram />  </slot>
                
                <!-- Ads here -->
                 <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Other info ad 1 -->
                            <ins class="adsbygoogle"
                                style="display:block"
                                data-full-width-responsive="true"
                                data-ad-client="ca-pub-6818329352848462"
                                data-ad-slot="9512567430"
                                data-ad-format="auto">
                            </ins>
                            <script is:inline>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </section>
        </div>
    
    </main>
</Layout>

<style is:global>

.display{
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    min-height: 100vh;
    width: 100%;
    margin-top: 20px;
    justify-self: center;
    justify-content: center;
}

section{
    background-color: #fffaf7;
    height: 100%;
    border-radius: 8px;
}

.main_info{
    min-height: 90vh;
    width: 65vw;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

/* arreglar el tamaño de la imagen del banner */
#banner_container {
    position: relative;
    height: auto; 
    aspect-ratio: 16 / 9;
    max-width: 95%;
    border-radius: 8px;
    overflow: hidden;
}

.banner_info img{
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.banner_info img.active{
    width: 100%;
    opacity: 1;
}   


.article_title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: clamp(2rem, 3vw, 4rem);
}

.article.description{
    font-size: clamp(1rem, 1.5vw, 2rem);
    margin-bottom: 60px;
}

.download_button_container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.button_download {
  position: relative;
  overflow: hidden;
  font-weight: bold;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #704a11;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button_download:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button_download::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    #FFC719,
    #BF033B
  );
  transition: all 0.475s;
}

.after_download_content{
    font-size: clamp(1rem, 1.5vw, 2rem);
    margin-top: 60px;
}

.other_info{
    min-height: 90vh;
    width: 20vw;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.social_media_1{
    width: 100%;
}



@media (max-width: 800px){
    .main_info{
        width: 90vw;

    }
    .other_info{
        width: 70%;
        justify-content: start;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }


}


</style>

<script>
    import { setupCarousel } from '../scripts/banner_carousel.js';
setupCarousel()
</script>